3-Ing-Informatica/2-cuatrimestre/java-ee/notice-board-client2/src/main/java/dev/jcasben/noticeboardclient2/noticeBoard2.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3 (RELEASE-4.0.3-4f96cb2; 2023-10-20T06:38:17+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#4f96cb2. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3 (RELEASE-4.0.3-4f96cb2; 2023-10-20T06:38:17+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#4f96cb2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://noticeboardservice.jcasben.dev/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://noticeboardservice.jcasben.dev/" name="noticeBoard">
<types>
<xsd:schema>
<xsd:import namespace="http://noticeboardservice.jcasben.dev/" schemaLocation="http://fedora:8080/notice-board-service-12077840037307675824.0-SNAPSHOT/noticeBoard?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteNotice">
<part name="parameters" element="tns:deleteNotice"/>
</message>
<message name="deleteNoticeResponse">
<part name="parameters" element="tns:deleteNoticeResponse"/>
</message>
<message name="getAllNotices">
<part name="parameters" element="tns:getAllNotices"/>
</message>
<message name="getAllNoticesResponse">
<part name="parameters" element="tns:getAllNoticesResponse"/>
</message>
<message name="createNotice">
<part name="parameters" element="tns:createNotice"/>
</message>
<message name="createNoticeResponse">
<part name="parameters" element="tns:createNoticeResponse"/>
</message>
<portType name="NoticeBoardServiceImpl">
<operation name="deleteNotice">
<input wsam:Action="http://noticeboardservice.jcasben.dev/NoticeBoardServiceImpl/deleteNoticeRequest" message="tns:deleteNotice"/>
<output wsam:Action="http://noticeboardservice.jcasben.dev/NoticeBoardServiceImpl/deleteNoticeResponse" message="tns:deleteNoticeResponse"/>
</operation>
<operation name="getAllNotices">
<input wsam:Action="http://noticeboardservice.jcasben.dev/NoticeBoardServiceImpl/getAllNoticesRequest" message="tns:getAllNotices"/>
<output wsam:Action="http://noticeboardservice.jcasben.dev/NoticeBoardServiceImpl/getAllNoticesResponse" message="tns:getAllNoticesResponse"/>
</operation>
<operation name="createNotice">
<input wsam:Action="http://noticeboardservice.jcasben.dev/NoticeBoardServiceImpl/createNoticeRequest" message="tns:createNotice"/>
<output wsam:Action="http://noticeboardservice.jcasben.dev/NoticeBoardServiceImpl/createNoticeResponse" message="tns:createNoticeResponse"/>
</operation>
</portType>
<binding name="NoticeBoardServiceImplPortBinding" type="tns:NoticeBoardServiceImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteNotice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllNotices">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNotice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="noticeBoard">
<port name="NoticeBoardServiceImplPort" binding="tns:NoticeBoardServiceImplPortBinding">
<soap:address location="http://fedora:8080/notice-board-service-12077840037307675824.0-SNAPSHOT/noticeBoard"/>
</port>
</service>
</definitions>